<launch>
<!-- Launch CBF_CLF -->
  <node name="controller" pkg="cbf_clf" type="controller" output="screen"/>

<!-- Launch  ZED Wrapper-->
   <arg name="camera_model"         default="1" /> <!-- 0=ZED, 1=ZEDM-->
   <arg name="resolution"           default="3" /> <!--0=RESOLUTION_HD2K, 1=RESOLUTION_HD1080, 2=RESOLUTION_HD720, 3=RESOLUTION_VGA -->
   <arg name="frame_rate"           default="100" />
   <group ns="zed">
       <include file="$(find zed_wrapper)/launch/zed_camera.launch">
           <arg name="camera_model"        value="$(arg camera_model)" />
           <arg name="resolution"          value="$(arg resolution)" />
           <arg name="frame_rate"          value="$(arg frame_rate)" />
       </include>
   </group>
</launch>