<launch>
        <!-- Launch  ZED Wrapper-->
    <arg name="svo_file"        default="" /> <!-- <arg name="svo_file" default="path/to/svo/file.svo"> -->

    <arg name="camera_model"    default="1" /> <!-- 0=ZED, 1=ZEDM-->
    <arg name="serial_number"   default="0" />
    <arg name="verbose"         default="true" />
    <arg name="resolution"      default="3" /> <!--0=RESOLUTION_HD2K, 1=RESOLUTION_HD1080, 2=RESOLUTION_HD720, 3=RESOLUTION_VGA -->
    <arg name="frame_rate"      default="100" />
    <!-- RESOLUTION_HD2K   -> 2208*1242, available framerates: 15 fps.
         RESOLUTION_HD1080 -> 1920*1080, available framerates: 15, 30 fps.
         RESOLUTION_HD720  -> 1280*720,  available framerates: 15, 30, 60 fps.
         RESOLUTION_VGA    -> 672*376,   available framerates: 15, 30, 60, 100 fps. -->

    <!-- Coordinate frame -->
    <arg name="pose_frame"      default="map" />
    <arg name="odometry_frame"  default="odom" />

    <group ns="zed">
        <include file="$(find zed_wrapper)/launch/zed_camera.launch">
            <arg name="svo_file"        value="$(arg svo_file)" />
            <arg name="pose_frame"      value="$(arg pose_frame)" />
            <arg name="odometry_frame"  value="$(arg odometry_frame)" />
            <arg name="camera_model"    value="$(arg camera_model)" />
            <arg name="serial_number"   value="$(arg serial_number)" />
            <arg name="resolution"      value="$(arg resolution)" />
            <arg name="frame_rate"      value="$(arg frame_rate)" />
            <arg name="verbose"         value="$(arg verbose)" />
        </include>
    </group>

    <!-- Launch ROSBAG -->
    <arg name="record_essentials"   default="true" />
    <arg name="record_depth"        default="false" />
    <arg name="record_confidence"   default="false" />

    <node pkg="rosbag" type="record" name="rosbag_record" args="record -o /home/nvidia/bagfiles/cbf_clf/essentials
        /rosout
        /rosout_agg
        /tf
        /tf_static
        /diagnostics
        /mavlink/from
        /mavros/altitude
        /mavros/battery
        /mavros/extended_state
        /mavros/imu/data
        /mavros/mission/waypoints
        /mavros/rc/out
        /mavros/setpoint_attitude/att_throttle
        /mavros/setpoint_attitude/attitude
        /mavros/setpoint_position/local
        /mavros/setpoint_raw/target_attitude
        /mavros/state
        /mavros/target_actuator_control
        /mavros/vfr_hud
        /mavros/vibration/raw/vibration
        /mavros/wind_estimation
        /zed/imu/data
        /zed/imu/data_raw
        /zed/left/camera_info
        /zed/left/camera_info_raw
        /zed/odom
        /zed/path_map
        /zed/path_odom
        /zed/pose
        /zed/joint_states
        /zed/zed_wrapper_node/parameter_descriptions
        /zed/zed_wrapper_node/parameter_updates"
    if="$(arg record_essentials)" /> 
    <node pkg="rosbag" type="record" name="rosbag_record" args="record -o /home/nvidia/bagfiles/cbf_clf/depth
        /zed/depth/camera_info
        /zed/depth/depth_registered
        /zed/depth/depth_registered/compressed/parameter_descriptions
        /zed/depth/depth_registered/compressed/parameter_updates
        /zed/depth/depth_registered/compressedDepth
        /zed/depth/depth_registered/compressedDepth/parameter_descriptions
        /zed/depth/depth_registered/compressedDepth/parameter_updates
        /zed/depth/depth_registered/theora
        /zed/depth/depth_registered/theora/parameter_descriptions
        /zed/depth/depth_registered/theora/parameter_updates"
    if="$(arg record_depth)" />
    <node pkg="rosbag" type="record" name="rosbag_record" args="record -o /home/nvidia/bagfiles/cbf_clf/confidence
        /zed/confidence/confidence_image
        /zed/confidence/confidence_image/compressed
        /zed/confidence/confidence_image/compressed/parameter_descriptions
        /zed/confidence/confidence_image/compressed/parameter_updates
        /zed/confidence/confidence_image/compressedDepth/parameter_descriptions
        /zed/confidence/confidence_image/compressedDepth/parameter_updates
        /zed/confidence/confidence_image/theora
        /zed/confidence/confidence_image/theora/parameter_descriptions
        /zed/confidence/confidence_image/theora/parameter_updates
        /zed/confidence/confidence_map"
    if="$(arg record_confidence)" />
</launch>